body{
    background-color: black;
    color: white;
    
}
.gallery{
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
img{
    width: 50vw;
    height: 100vh;
    margin: 10px;
}
@media (max-width: 758px){
    img{
        width: 100vw;
        height: auto;
    }
}