.container h1{
    text-decoration: overline underline;
    justify-content: center;
    text-align: center;
}
.faculties{
    justify-content: center;
    background-color: black;
    color: white;
}
.main_ol{
    display: flex;
    flex-direction: row;
    float: center;
    
}
.main_ol li{
    list-style: none;
    padding: 5px;
    font-size: 20px;
}
.mini_ol li{
    list-style-type: disc;
}